/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* конец сброса!!!!!!!!!!!!!!!!!!!!!!!! */
header {
  padding: 0 0 0 30px;
  width: 100%;
  height: 60px;
  background-color: #444;
  display: flex;
  align-items: center;
}

body {
  background-color: #282828;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

main {
  height: calc(100vh - 60px);
  background-color: #222;
  padding: 15px 30px 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form {
  flex: 0 0 auto;
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 20px;
  align-content: center;
}
@media (max-width: 785px) {
  .form {
    flex-direction: column;
    align-items: end;
    gap: 10px;
  }
}

.label-container {
  width: 100%;
  max-width: 770px;
  display: flex;
  gap: 20px;
  justify-content: start;
}

.label-input {
  flex: 1 1 300px;
  /* max-width: 250px; */
}

.label-input p {
  margin-left: 7px;
}
.input-container {
  display: flex;
  gap: 2px;
  height: 40px;
  /* width: 1fr; */
}

.form__btn-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 2px;
}

.form__btn {
  width: 22px;
  padding: 0;
  height: calc(50% - 1px);
  border: none;
  background-color: #444;
  color: white;
  transition: 80ms;
}
.form__btn:hover {
  background-color: #666;
}
.form__btn:active {
  background-color: #444;
}

.increase {
  border-radius: 3px 10px 3px 3px;
}
.decrease {
  border-radius: 3px 3px 10px 3px;
}
@media (max-width: 580px) {
  .label-container {
    height: 174px;
    flex-direction: column;
    gap: 4px;
  }
  .input-container {
    height: 30px;
  }
  .form__btn-container{
    flex-direction: row;
  }
  .form__btn {
    width: 30px;
    height: 30px;
  }
  .decrease {
    border-radius: 3px;
  }
  .increase {
    border-radius: 3px 10px 10px 3px;
    order: 1;
  }
  
}

.input-number {
  /* width: 200px; */
  /* min-width: 140px; */
  width: 100%;
  height: 100%;
  border-radius: 10px 5px 3px 10px;
  padding-left: 17px;
  border: none;
  background-color: #444;
  color: white;
}
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.label-switch {
  display: flex;
  align-items: center;
  gap: 10px;
}

.label-switch p {
  text-align: right;
}

switch {
  height: 20px;
  width: min-content;
}
.square {
  background: url(./img/hsbGrad.jpg);

  background-size: 100% 100%;
  background-repeat: no-repeat;

  cursor: url(./img/cursor-default.png) 15 15, default;
  width: 100%;
  height: 25vh;
  color: black;
  border-radius: 10px;
  user-select: none;
  transition: 200ms;

  flex: 0 2 150px;
}

.drag .square {
  cursor: none;
}

.brightness-control {
  background-color: #444;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: 200ms;
  opacity: 0;
}

.txt-color {
  position: relative;

  display: flex;

  /* user-select: none;
  pointer-events: none; */
  font-family: 'DM Mono', monospace;
  width: max-content;
  height: max-content;
  padding: 5px 8px;
  top: -95%;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;

  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;

  /* курсор не перекрывает значение */
  position: relative;
  z-index: 10;
}

.copy-btn {
  padding: 0;
  width: 30px;
  height: 30px;
  margin: 0 0 0 15px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}
.copy-btn:hover {
  opacity: 0.7;
  cursor: pointer;
}
.drag .copy-btn:hover {
  cursor: none;
}

.drag {
  cursor: none !important;
}

.pointer-container {
  z-index: 1;
  position: absolute;
  left: -100px;
  top: -150px;
  user-select: none;
  pointer-events: none;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.drag .pointer-container {
  z-index: 100;
}
.pointer {
  border: 2px solid #222;
  border-radius: 100px;
  height: 30px;
  width: 30px;
  transition: width 100ms, height 100ms;
}
.drag .pointer {
  height: 60px;
  width: 60px;
}

.rec-container {
  display: flex;
  flex-direction: row;
  height: 40vh;
  gap: 10px;
  margin-right: -10px;

  flex: 1 1 auto;
}

.items {
  width: 100%;
  height: 100%;
  border-radius: 10px;

  transition-timing-function: ease-in;
  transition: background-color 0ms, width 200ms;

  background-color: #444;
}

.item {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: #444;
  transition: background-color 150ms;
}
.drag .item {
  transition: background-color 0ms;
}

.hide-items {
  width: 0;
  /* margin: 0; */
}
.hide-item {
  height: 0;
  margin: 0;
}

.btn-container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 110px;
  align-items: center;
  justify-content: space-between;

  margin-top: 10px;
}

.btn-count {
  background-color: #aaa;
  width: 40px;
  height: 40px;
  border-radius: 25px;
  border: none;
  transition: 150ms;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-count:hover {
  cursor: pointer;
  background-color: #ccc;
}
.btn-count:active {
  background-color: #888;
}

.btn-img {
  width: 24px;
  height: 24px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  user-select: none;
  transition: 50ms;

  fill: #222;
}

.btn-count:hover .btn-img {
  width: 26px;
  height: 26px;
}

.btn-count:active .btn-img {
  width: 24px;
  height: 24px;
  fill: #111;
}
.test {
  cursor: default;
  width: 100px;
  height: 100px;
  background: red;
}

.test:hover {
  cursor: pointer;
  -moz-transition: cursor 500ms ease-in-out;
  -o-transition: cursor 500ms ease-in-out;
  -webkit-transition: cursor 500ms ease-in-out;
  transition: cursor 500ms ease-in-out;
}

input[type='checkbox'] {
  margin: 0;
  position: relative;
  width: 40px;
  height: 20px;
  -webkit-appearance: none;
  outline: none;
  background: #c6c6c6;
  border-radius: 10px;
  transition: 0.2s;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

input:checked[type='checkbox'] {
  background: #6cff98;
}

input[type='checkbox']:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  top: 0;
  left: 0;
  background: #fff;
  transition: 0.2s;
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

input:checked[type='checkbox']:before {
  left: 20px;
}
